<!-- <div class="container">
    <form [formGroup]="editForm">
      <div style="margin-top: 100px" class="row">
        <div class="col-md-3 form-group">
          <span class="ui-float-label">
            <input id="float-input" formControlName="first_name" type="text" size="30" pInputText>
            <label for="float-input">First Name</label>
            <div *ngIf="editForm.controls['first_name'].hasError('required')&&is_submited">First Name is required</div>
          </span>
        </div>
        <div class="col-md-3 form-group">
          <span class="ui-float-label">
            <input id="float-input" formControlName="last_name" type="text" size="30" pInputText>
            <label for="float-input">Last Name</label>
            <div *ngIf="editForm.controls['last_name'].hasError('required')&&is_submited">Last Name is required</div>
          </span>
        </div>
  
        <div class="col-md-3 form-group">
          <span class="ui-float-label">
            <input id="float-input" formControlName="course" type="text" size="30" pInputText>
            <label for="float-input">Course</label>
            <div *ngIf="editForm.controls['course'].hasError('required')&&is_submited">Course is required</div>
          </span>
        </div>
        <div class="col-md-3 form-group">
          <span class="ui-float-label">
              <p-calendar id="float-input" formControlName="DOB" [showIcon]="true"></p-calendar>
            <label for="float-input">DOB</label>
            <div *ngIf="editForm.controls['DOB'].hasError('required')&&is_submited">DOB is required</div>
          </span> 
        </div>
        <div class="col-md-3 form-group">
          <a (click)="update()" class="btn btn-success">+ UPDATE</a>
        </div>
      </div>
    </form>
</div> -->