<footer class="footer">
		<div class="footer_background" style="background-image:url(../assets/images/footer_background.png)"></div>
		<div class="container">
			<div class="row footer_row">
				<div class="col">
					<div class="footer_content">
						<div class="row">

							<div class="col-lg-3 footer_col">
					
								<!-- Footer About -->
								<div class="footer_section footer_about">
									<div class="footer_logo_container">
										<a href="#">
											<div class="footer_logo_text">ONLINE<span>Exam</span></div>
										</a>
									</div>
									<div class="footer_about_text">
										<p>Herikesh Singh Rana Degree College Chumati Gada Sre.</p>
									</div>
									<div class="footer_social">
										<ul>
											<li><a href="#" ><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
								
							</div>

							<div class="col-lg-3 footer_col">
					
								<!-- Footer Contact -->
								<div class="footer_section footer_contact">
									<div class="footer_title">Contact Us</div>
									<div class="footer_contact_info">
										<ul>
											<li>Email: jsonmanojkumar@gmail.com</li>
											<li>Phone:  +(91) 9759369274</li>
											<li>Vill Bhabsa Post Titron Saharanpur (UP)</li>
										</ul>
									</div>
								</div>
								
							</div>

							<div class="col-lg-3 footer_col">
					
								<!-- Footer links -->
								<div class="footer_section footer_links">
									<div class="footer_title">Pages</div>
									<div class="footer_links_container">
										<ul>
											<li><a href="index.html" [routerLink] = "['/home']">Home</a></li>
											<li><a href="about.html" [routerLink] = "['/about']">About</a></li>
											<li><a href="contact.html" [routerLink] = "['/contact']">Contact</a></li>
											<li><a href="courses.html" [routerLink] = "['/courses']">Courses</a></li>
											<li><a href="index.html" [routerLink] = "['/login']">Login</a></li>
											<li><a href="index.html" [routerLink] = "['/register']">Register</a></li>
											<li><a href="#" [routerLink] = "['/home-page']" >Start Paper Home Page</a></li>
											<li><a href="#" [routerLink] = "['/paper']">Paper</a></li>
											<li><a href="#" [routerLink] = "['/category']">Category</a></li>
											<li><a href="#" [routerLink] = "['/subject']">Subject</a></li>
											<li><a href="#" [routerLink] = "['/questions']">Questions</a></li>
										</ul>
									</div>
								</div>
								
							</div>

							<div class="col-lg-3 footer_col clearfix">
					
								<!-- Footer links -->
								<div class="footer_section footer_mobile">
									<div class="footer_title">Mobile</div>
									<div class="footer_mobile_content">
										<div class="footer_image"><a href="#"><img src="../assets/images/mobile_1.png" alt=""></a></div>
										<div class="footer_image"><a href="#"><img src="../assets/images/mobile_2.png" alt=""></a></div>
									</div>
								</div>
								
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="row copyright_row">
				<div class="col">
					<div class="copyright d-flex flex-lg-row flex-column align-items-center justify-content-start">
						<div class="cr_text"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
						<div class="ml-lg-auto cr_links">
							<ul class="cr_list">
								<li><a href="#">Copyright notification</a></li>
								<li><a href="#">Terms of Use</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
