<app-header></app-header>


 
<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/images/uni1.jpg" class="img"alt="Los Angeles" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Los Angeles</h3>
        <p>We had such a great time in LA!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="../assets/images/uni2.jpg" class="img" alt="Chicago" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Chicago</h3>
        <p>Thank you, Chicago!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="../assets/images/uni3.jpg" class="newyark" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>New York</h3>
        <p>We love the Big Apple!</p>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>










<div class="features">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section_title_container text-center">
            <h2 class="section_title">Welcome To Online E-Learning</h2>
            <div class="section_subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel gravida arcu. Vestibulum feugiat, sapien ultrices fermentum congue, quam velit venenatis sem</p></div>
          </div>
        </div>
      </div>
      <div class="row features_row">
        
        <!-- Features Item -->
        <div class="col-lg-3 feature_col">
          <div class="feature text-center trans_400">
            <div class="feature_icon"><img src="../assets/images/icon_1.png" alt=""></div>
            <h3 class="feature_title">The Experts</h3>
            <div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
          </div>
        </div>

        <!-- Features Item -->
        <div class="col-lg-3 feature_col">
          <div class="feature text-center trans_400">
            <div class="feature_icon"><img src="../assets/images/icon_2.png" alt=""></div>
            <h3 class="feature_title">Book & Library</h3>
            <div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
          </div>
        </div>

        <!-- Features Item -->
        <div class="col-lg-3 feature_col" [routerLink] = "['/courses']">
          <div class="feature text-center trans_400">
            <div class="feature_icon"><img src="../assets/images/icon_3.png" alt=""></div>
            <h3 class="feature_title">Best Courses</h3>
            <div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
          </div>
        </div>

        <!-- Features Item -->
        <div class="col-lg-3 feature_col" [routerLink] = "['/courses']">
          <div class="feature text-center trans_400">
            <div class="feature_icon"><img src="../assets/images/icon_4.png" alt=""></div>
            <h3 class="feature_title">Award & Reward</h3>
            <div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
          </div>
        </div>

      </div>
    </div>
  </div>










  <div class="courses">
      <div class="section_background parallax-window" data-parallax="scroll" data-image-src="../assets/images/courses_background.jpg" data-speed="0.8"></div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section_title_container text-center">
              <h2 class="section_title">Popular Online Courses</h2>
              <div class="section_subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel gravida arcu. Vestibulum feugiat, sapien ultrices fermentum congue, quam velit venenatis sem</p></div>
            </div>
          </div>
        </div>
        <div class="row courses_row">
          
          <!-- Course -->
          <div class="col-lg-4 course_col">
            <div class="course">
              <div class="course_image"><img src="../assets/images/course_1.jpg" alt=""></div>
              <div class="course_body">
                <h3 class="course_title"><a href="course.html">Software Training</a></h3>
                <div class="course_teacher">Mr. John Taylor</div>
                <div class="course_text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipi elitsed do eiusmod tempor</p>
                </div>
              </div>
              <div class="course_footer">
                <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                  <div class="course_info">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    <span>20 Student</span>
                  </div>
                  <div class="course_info">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <span>5 Ratings</span>
                  </div>
                  <div class="course_price ml-auto">$130</div>
                </div>
              </div>
            </div>
          </div>
  
          <!-- Course -->
          <div class="col-lg-4 course_col">
            <div class="course">
              <div class="course_image"><img src="../assets/images/course_2.jpg" alt=""></div>
              <div class="course_body">
                <h3 class="course_title"><a href="course.html">Developing Mobile Apps</a></h3>
                <div class="course_teacher">Ms. Lucius</div>
                <div class="course_text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipi elitsed do eiusmod tempor</p>
                </div>
              </div>
              <div class="course_footer">
                <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                  <div class="course_info">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    <span>20 Student</span>
                  </div>
                  <div class="course_info">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <span>5 Ratings</span>
                  </div>
                  <div class="course_price ml-auto">Free</div>
                </div>
              </div>
            </div>
          </div>
  
          <!-- Course -->
          <div class="col-lg-4 course_col">
            <div class="course">
              <div class="course_image"><img src="../assets/images/course_3.jpg" alt=""></div>
              <div class="course_body">
                <h3 class="course_title"><a href="course.html">Starting a Startup</a></h3>
                <div class="course_teacher">Mr. Charles</div>
                <div class="course_text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipi elitsed do eiusmod tempor</p>
                </div>
              </div>
              <div class="course_footer">
                <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                  <div class="course_info">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    <span>20 Student</span>
                  </div>
                  <div class="course_info">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <span>5 Ratings</span>
                  </div>
                  <div class="course_price ml-auto"><span>$320</span>$220</div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
        <div class="row">
          <div class="col">
            <div class="courses_button trans_200"><a href="#" [routerLink] = "['/courses']">view all courses</a></div>
          </div>
        </div>
      </div>
    </div>









    <div class="counter">
        <div class="counter_background" style="background-image:url(../assets/images/counter_background.jpg)"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="counter_content">
                <h2 class="counter_title">Register Now</h2>
                <div class="counter_text"><p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dumy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></div>
    
                <!-- Milestones -->
    
                <div class="milestones d-flex flex-md-row flex-column align-items-center justify-content-between">
                  
                  <!-- Milestone -->
                  <div class="milestone">
                    <div class="milestone_counter" data-end-value="15">0</div>
                    <div class="milestone_text">years</div>
                  </div>
    
                  <!-- Milestone -->
                  <div class="milestone">
                    <div class="milestone_counter" data-end-value="120" data-sign-after="k">0</div>
                    <div class="milestone_text">years</div>
                  </div>
    
                  <!-- Milestone -->
                  <div class="milestone">
                    <div class="milestone_counter" data-end-value="670" data-sign-after="+">0</div>
                    <div class="milestone_text">years</div>
                  </div>
    
                  <!-- Milestone -->
                  <div class="milestone">
                    <div class="milestone_counter" data-end-value="320">0</div>
                    <div class="milestone_text">years</div>
                  </div>
    
                </div>
              </div>
    
            </div>
          </div>
    
          <div class="counter_form">
            <div class="row fill_height">
              <div class="col fill_height">
                  <form name="form" (ngSubmit)="f.form.valid && onSubmitCustomer()" #f="ngForm" novalidate>

                      <div class="form-group">
                          <label for="name"><b> Name </b></label>
                          <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required>
                        <div *ngIf="f.submitted && name.invalid" class="invalid-text">
                          <div style="color: red" *ngIf="name.errors.required"> Name  is required</div>
                        </div>
                        </div>
        
                       
        
                          <div class="form-group">
                              <label for="country"><b>Subject</b></label>
                              <select class="form-control" placeholder="Select country" name="country" [(ngModel)]="model.country" #country="ngModel" [ngClass]="{ 'is-invalid': f.submitted && country.invalid }" required>
                                <option class="form-control" *ngFor="let country of countries" [value]="country.id"> {{country.name}}</option>
                              </select>
                             </div>
                              <div *ngIf="f.submitted && country.invalid" class="invalid-text">
                                <div style="color: red" *ngIf="country.errors.required">Subject is required</div>
                              </div>
        
                              <div class="form-group">
                                  <label for="add Question"><b>Massege Add</b></label>
                                <textarea class="form-control" name="question" rows="4" cols="8" placeholder="Enter Massege"  [(ngModel)]="model.question" #question="ngModel" [ngClass]="{ 'is-invalid': f.submitted && question.invalid }" required> </textarea>            
                                <!-- <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required> -->
                              <div *ngIf="f.submitted && question.invalid" class="invalid-text">
                                <div style="color: red" class="validation" *ngIf="question.errors.required">Massege add is required</div>
                              </div>
                              </div>
        
                          <button type="submit" class="btn btn-success">Submit</button>
                  </form> 
        
              </div>
            </div>
          </div>
    
        </div>
      </div>










      <div class="events">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="section_title_container text-center">
                  <h2 class="section_title">Upcoming events</h2>
                  <div class="section_subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel gravida arcu. Vestibulum feugiat, sapien ultrices fermentum congue, quam velit venenatis sem</p></div>
                </div>
              </div>
            </div>
            <div class="row events_row">
      
              <!-- Event -->
              <div class="col-lg-4 event_col">
                <div class="event event_left">
                  <div class="event_image"><img src="../assets/images/event_1.jpg" alt=""></div>
                  <div class="event_body d-flex flex-row align-items-start justify-content-start">
                    <div class="event_date">
                      <div class="d-flex flex-column align-items-center justify-content-center trans_200">
                        <div class="event_day trans_200">21</div>
                        <div class="event_month trans_200">Aug</div>
                      </div>
                    </div>
                    <div class="event_content">
                      <div class="event_title"><a href="#">Which Country Handles Student Debt?</a></div>
                      <div class="event_info_container">
                        <div class="event_info"><i class="fa fa-clock-o" aria-hidden="true"></i><span>15.00 - 19.30</span></div>
                        <div class="event_info"><i class="fa fa-map-marker" aria-hidden="true"></i><span>25 New York City</span></div>
                        <div class="event_text">
                          <p>Policy analysts generally agree on a need for reform, but not on which path...</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      
              <!-- Event -->
              <div class="col-lg-4 event_col">
                <div class="event event_mid">
                  <div class="event_image"><img src="../assets/images/event_2.jpg" alt=""></div>
                  <div class="event_body d-flex flex-row align-items-start justify-content-start">
                    <div class="event_date">
                      <div class="d-flex flex-column align-items-center justify-content-center trans_200">
                        <div class="event_day trans_200">27</div>
                        <div class="event_month trans_200">Aug</div>
                      </div>
                    </div>
                    <div class="event_content">
                      <div class="event_title"><a href="#">Repaying your student loans (Winter 2017-2018)</a></div>
                      <div class="event_info_container">
                        <div class="event_info"><i class="fa fa-clock-o" aria-hidden="true"></i><span>09.00 - 17.30</span></div>
                        <div class="event_info"><i class="fa fa-map-marker" aria-hidden="true"></i><span>25 Brooklyn City</span></div>
                        <div class="event_text">
                          <p>This Consumer Action News issue covers topics now being debated before...</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      
              <!-- Event -->
              <div class="col-lg-4 event_col">
                <div class="event event_right">
                  <div class="event_image"><img src="../assets/images/event_3.jpg" alt=""></div>
                  <div class="event_body d-flex flex-row align-items-start justify-content-start">
                    <div class="event_date">
                      <div class="d-flex flex-column align-items-center justify-content-center trans_200">
                        <div class="event_day trans_200">01</div>
                        <div class="event_month trans_200">Sep</div>
                      </div>
                    </div>
                    <div class="event_content">
                      <div class="event_title"><a href="#">Alternative data and financial inclusion</a></div>
                      <div class="event_info_container">
                        <div class="event_info"><i class="fa fa-clock-o" aria-hidden="true"></i><span>13.00 - 18.30</span></div>
                        <div class="event_info"><i class="fa fa-map-marker" aria-hidden="true"></i><span>25 New York City</span></div>
                        <div class="event_text">
                          <p>Policy analysts generally agree on a need for reform, but not on which path...</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      
            </div>
          </div>
        </div>

        







        <div class="team">
            <div class="team_background parallax-window" data-parallax="scroll" data-image-src="../assets/images/team_background.jpg" data-speed="0.8"></div>
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="section_title_container text-center">
                    <h2 class="section_title">The Best Tutors in Town</h2>
                    <div class="section_subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel gravida arcu. Vestibulum feugiat, sapien ultrices fermentum congue, quam velit venenatis sem</p></div>
                  </div>
                </div>
              </div>
              <div class="row team_row">
                
                <!-- Team Item -->
                <div class="col-lg-3 col-md-6 team_col">
                  <div class="team_item">
                    <div class="team_image"><img src="../assets/images/team_1.jpg" alt=""></div>
                    <div class="team_body">
                      <div class="team_title"><a href="#">Jacke Masito</a></div>
                      <div class="team_subtitle">Marketing & Management</div>
                      <div class="social_list">
                        <ul>
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
        
                <!-- Team Item -->
                <div class="col-lg-3 col-md-6 team_col">
                  <div class="team_item">
                    <div class="team_image"><img src="../assets/images/team_2.jpg" alt=""></div>
                    <div class="team_body">
                      <div class="team_title"><a href="#">William James</a></div>
                      <div class="team_subtitle">Designer & Website</div>
                      <div class="social_list">
                        <ul>
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
        
                <!-- Team Item -->
                <div class="col-lg-3 col-md-6 team_col">
                  <div class="team_item">
                    <div class="team_image"><img src="../assets/images/team_3.jpg" alt=""></div>
                    <div class="team_body">
                      <div class="team_title"><a href="#">John Tyler</a></div>
                      <div class="team_subtitle">Quantum mechanics</div>
                      <div class="social_list">
                        <ul>
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
        
                <!-- Team Item -->
                <div class="col-lg-3 col-md-6 team_col">
                  <div class="team_item">
                    <div class="team_image"><img src="../assets/images/team_4.jpg" alt=""></div>
                    <div class="team_body">
                      <div class="team_title"><a href="#">Veronica Vahn</a></div>
                      <div class="team_subtitle">Math & Physics</div>
                      <div class="social_list">
                        <ul>
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
        
              </div>
            </div>
          </div>
        







          <div class="news">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <div class="section_title_container text-center">
                      <h2 class="section_title">Latest News</h2>
                      <div class="section_subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel gravida arcu. Vestibulum feugiat, sapien ultrices fermentum congue, quam velit venenatis sem</p></div>
                    </div>
                  </div>
                </div>
                <div class="row news_row">
                  <div class="col-lg-7 news_col">
                    
                    <!-- News Post Large -->
                    <div class="news_post_large_container">
                      <div class="news_post_large">
                        <div class="news_post_image"><img src="../assets/images/news_1.jpg" alt=""></div>
                        <div class="news_post_large_title"><a href="blog_single.html">Here’s What You Need to Know About Online Testing for the ACT and SAT</a></div>
                        <div class="news_post_meta">
                          <ul>
                            <li><a href="#">admin</a></li>
                            <li><a href="#">november 11, 2017</a></li>
                          </ul>
                        </div>
                        <div class="news_post_text">
                          <p>Policy analysts generally agree on a need for reform, but not on which path policymakers should take. Can America learn anything from other nations...</p>
                        </div>
                        <div class="news_post_link"><a href="blog_single.html">read more</a></div>
                      </div>
                    </div>
                  </div>
          
                  <div class="col-lg-5 news_col">
                    <div class="news_posts_small">
          
                      <!-- News Posts Small -->
                      <div class="news_post_small">
                        <div class="news_post_small_title"><a href="blog_single.html">Home-based business insurance issue (Spring 2017 - 2018)</a></div>
                        <div class="news_post_meta">
                          <ul>
                            <li><a href="#">admin</a></li>
                            <li><a href="#">november 11, 2017</a></li>
                          </ul>
                        </div>
                      </div>
          
                      <!-- News Posts Small -->
                      <div class="news_post_small">
                        <div class="news_post_small_title"><a href="blog_single.html">2018 Fall Issue: Credit Card Comparison Site Survey (Summer 2018)</a></div>
                        <div class="news_post_meta">
                          <ul>
                            <li><a href="#">admin</a></li>
                            <li><a href="#">november 11, 2017</a></li>
                          </ul>
                        </div>
                      </div>
          
                      <!-- News Posts Small -->
                      <div class="news_post_small">
                        <div class="news_post_small_title"><a href="blog_single.html">Cuentas de cheques gratuitas una encuesta de Consumer Action</a></div>
                        <div class="news_post_meta">
                          <ul>
                            <li><a href="#">admin</a></li>
                            <li><a href="#">november 11, 2017</a></li>
                          </ul>
                        </div>
                      </div>
          
                      <!-- News Posts Small -->
                      <div class="news_post_small">
                        <div class="news_post_small_title"><a href="blog_single.html">Troubled borrowers have fewer repayment or forgiveness options</a></div>
                        <div class="news_post_meta">
                          <ul>
                            <li><a href="#">admin</a></li>
                            <li><a href="#">november 11, 2017</a></li>
                          </ul>
                        </div>
                      </div>
          
                    </div>
                  </div>
                </div>
              </div>
            </div>









            <div class="newsletter">
                <div class="newsletter_background parallax-window" data-parallax="scroll" data-image-src="../assets/images/newsletter.jpg" data-speed="0.8"></div>
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <div class="newsletter_container d-flex flex-lg-row flex-column align-items-center justify-content-start">
            
                        <!-- Newsletter Content -->
                        <div class="newsletter_content text-lg-left text-center">
                          <div class="newsletter_title">sign up for news and offers</div>
                          <div class="newsletter_subtitle">Subcribe to lastest smartphones news & great deals we offer</div>
                        </div>
            
                        <!-- Newsletter Form -->
                        <div class="newsletter_form_container ml-lg-auto">
                          <form action="#" id="newsletter_form" class="newsletter_form d-flex flex-row align-items-center justify-content-center">
                            <input type="email" class="newsletter_input" placeholder="Your Email" required="required">
                            <button type="submit" class="newsletter_button">subscribe</button>
                          </form>
                        </div>
            
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          


              <app-footer></app-footer>


              <!-- footer -->

