<app-header></app-header>



    <div class="row courses_row">
      
      <!-- Course -->
      <div class="col-lg-2 course_col">
        <div class="course">
          <div class="course_image"><img src="../assets/images/c.png" alt=""></div>
          <div class="course_body">
            <h3 class="course_title"><a href="https://www.tutorialspoint.com/cprogramming/" target="_blank">C Language</a></h3>
          </div>
          <!-- <div class="course_footer">
            <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
              <div class="course_info">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                <span>20 Student</span>
              </div> 
              <div class="course_info">
                <i class="fa fa-star" aria-hidden="true"></i>
                <span>5 Ratings</span>
              </div>
              <div class="course_price ml-auto">$130</div>
            </div>
          </div> -->
        </div>
      </div>

      <div class="col-lg-2 course_col" >
          <div class="course">
            <div class="course_image"><img src="../assets/images/cpp.png" alt=""></div>
            <div class="course_body">
              <h3 class="course_title"><a href="https://www.tutorialspoint.com/cplusplus/" target="_blank" >C++ Training</a></h3>
            </div>
          </div>
        </div>

        <div class="col-lg-2 course_col" >
            <div class="course">
              <div class="course_image"><img src="../assets/images/csarp.png" alt=""></div>
              <div class="course_body">
                <h3 class="course_title"><a href="https://www.tutorialspoint.com/csharp/" target="_blank">C# Language</a></h3>
              </div>
            </div>
          </div>

          <div class="col-lg-2 course_col">
              <div class="course">
                <div class="course_image"><img src="../assets/images/gk.jpg" alt=""></div>
                <div class="course_body">
                  <h3 class="course_title"><a href="https://www.tutorialspoint.com/general_knowledge/" target="_blank">General Knowledge</a></h3>
                </div>
              </div>
            </div>

            <div class="col-lg-2 course_col">
                <div class="course">
                  <div class="course_image"><img src="../assets/images/css.jpg" alt=""></div>
                  <div class="course_body">
                    <h3 class="course_title"><a href="https://www.tutorialspoint.com/css/" target="_blank">Css Language</a></h3>
                  </div>
                </div>
              </div>

              <div class="col-lg-2 course_col">
                  <div class="course">
                    <div class="course_image"><img src="../assets/images/bootstrap.jpg" alt=""></div>
                    <div class="course_body">
                      <h3 class="course_title"><a href="https://www.tutorialspoint.com/bootstrap/" target="_blank">Bootstrap Language</a></h3>
                    </div>
                </div>
              </div>
          </div>


     
<hr><hr>
    
          
              
    <div class="row courses_row">
      
        <!-- Course -->
        <div class="col-lg-2 course_col">
          <div class="course">
            <div class="course_image"><img src="../assets/images/angular.jpg" alt=""></div>
            <div class="course_body">
              <h3 class="course_title"><a href="https://www.tutorialspoint.com/angularjs/" target="_blank">Angular Language</a></h3>
            </div>
          </div>
        </div>
  
        <div class="col-lg-2 course_col">
            <div class="course">
              <div class="course_image"><img src="../assets/images/html.png" alt=""></div>
              <div class="course_body">
                <h3 class="course_title"><a href="https://www.tutorialspoint.com/html/" target="_blank">Html Language</a></h3>
              </div>
            </div>
          </div>
          <div class="col-lg-2 course_col">
              <div class="course">
                <div class="course_image"><img src="../assets/images/js.png" alt=""></div>
                <div class="course_body">
                  <h3 class="course_title"><a href="https://www.tutorialspoint.com/javascript/" target="_blank">Javascript Language</a></h3>
                </div>
              </div>
            </div>
            <div class="col-lg-2 course_col">
                <div class="course">
                  <div class="course_image"><img src="../assets/images/jquery.png" alt=""></div>
                  <div class="course_body">
                    <h3 class="course_title"><a href="https://www.tutorialspoint.com/jquery/" target="_blank">Jquery Language</a></h3>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 course_col">
                  <div class="course">
                    <div class="course_image"><img src="../assets/images/json.png" alt=""></div>
                    <div class="course_body">
                      <h3 class="course_title"><a href="https://www.tutorialspoint.com/json" target="_blank">Json Language</a></h3>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 course_col">
                    <div class="course">
                      <div class="course_image"><img src="../assets/images/nodejs.png" alt=""></div>
                      <div class="course_body">
                        <h3 class="course_title"><a href="https://www.tutorialspoint.com/nodejs/" target="_blank">nodejs Language</a></h3>
                      </div>
                  </div>
                </div>
           </div>
  
  <hr><hr>
       
  
      
          
    <div class="row courses_row">
      
        <!-- Course -->
        <div class="col-lg-2 course_col">
          <div class="course">
            <div class="course_image"><img src="../assets/images/ionic4.jpg" alt=""></div>
            <div class="course_body">
              <h3 class="course_title"><a href="https://www.tutorialspoint.com/ionic/" target="_blank">Ionic Language</a></h3>
            </div>
          </div>
        </div>
  
        <div class="col-lg-2 course_col">
            <div class="course">
              <div class="course_image"><img src="../assets/images/java.jpg" alt=""></div>
              <div class="course_body">
                <h3 class="course_title"><a href="https://www.tutorialspoint.com/java/" target="_blank">Java Language </a></h3>
              </div>
            </div>
          </div>
          <div class="col-lg-2 course_col">
              <div class="course">
                <div class="course_image"><img src="../assets/images/python.jpg" alt=""></div>
                <div class="course_body">
                  <h3 class="course_title"><a href="https://www.tutorialspoint.com/python/" target="_blank">Python Language</a></h3>
                </div>
              </div>
            </div>
            <div class="col-lg-2 course_col">
                <div class="course">
                  <div class="course_image"><img src="../assets/images/xml.jpg" alt=""></div>
                  <div class="course_body">
                    <h3 class="course_title"><a href="https://www.tutorialspoint.com/xml/" target="_blank">Xml Language</a></h3>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 course_col">
                  <div class="course">
                    <div class="course_image"><img src="../assets/images/sql.jpg" alt=""></div>
                    <div class="course_body">
                      <h3 class="course_title"><a href="https://www.tutorialspoint.com/sql/" target="_blank">Sql Language</a></h3>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 course_col">
                    <div class="course">
                      <div class="course_image"><img src="../assets/images/react.png" alt=""></div>
                      <div class="course_body">
                        <h3 class="course_title"><a href="https://www.tutorialspoint.com/reactjs/" target="_blank">Reactjs Language</a></h3>
                      </div>
                  </div>
                </div>
                </div>
  
  
       <hr><hr>
  
      <br>
       
  <app-footer></app-footer>
      
                