
<app-header></app-header>

<div class="feature">
  <div class="feature_background" style="background-image:url(../assets/images/courses_background.jpg)"></div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section_title_container text-center">
          <h2 class="section_title">Why Choose Us</h2>
          <div class="section_subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel gravida arcu. Vestibulum feugiat, sapien ultrices fermentum congue, quam velit venenatis sem</p></div>
        </div>
      </div>
    </div>
    <div class="row feature_row">

      <!-- Feature Content -->
      <div class="col-lg-6 feature_col">
        <div class="feature_content">
          <!-- Accordions -->
          <div class="accordions">
            
            <div class="elements_accordions">

              <div class="accordion_container">
                <div class="accordion d-flex flex-row align-items-center"><div>Award for Best School 2017</div></div>
                <div class="accordion_panel">
                  <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
              </div>

              <div class="accordion_container">
                <div class="accordion d-flex flex-row align-items-center active"><div>You’re learning from the best.</div></div>
                <div class="accordion_panel" style="max-height: 93px;">
                  <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
              </div>

              <div class="accordion_container">
                <div class="accordion d-flex flex-row align-items-center"><div>Our degrees are recognized worldwide.</div></div>
                <div class="accordion_panel">
                  <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
              </div>

              <div class="accordion_container">
                <div class="accordion d-flex flex-row align-items-center"><div>We encourage our students to go global.</div></div>
                <div class="accordion_panel">
                  <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
              </div>

            </div>

          </div>
          <!-- Accordions End -->
        </div>
      </div>

      <!-- Feature Video -->
      <div class="col-lg-6 feature_col">
        <div class="feature_video d-flex flex-column align-items-center justify-content-center">
          <div class="feature_video_background" style="background-image:url(../assets/images/video.jpg)"></div>
          <a class="vimeo feature_video_button cboxElement" href="https://player.vimeo.com/video/99340873?title=0" title="OH, PORTUGAL - IN 4K - Basti Hansen - Stock Footage">

            <video width="350" height="320" controls>
              <source src="../assets/images/mov_bbb.mp4" type="video/mp4">
             
            </video> 
          </a>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="team">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section_title_container text-center">
          <h2 class="section_title">The Best Tutors in Town</h2>
          <div class="section_subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel gravida arcu. Vestibulum feugiat, sapien ultrices fermentum congue, quam velit venenatis sem</p></div>
        </div>
      </div>
    </div>
    <div class="row team_row">
      
      <!-- Team Item -->
      <div class="col-lg-3 col-md-6 team_col">
        <div class="team_item">
          <div class="team_image"><img src="../assets/images/team_1.jpg" alt=""></div>
          <div class="team_body">
            <div class="team_title"><a href="#">Vikash</a></div>
            <div class="team_subtitle">Programming &amp; Teacher</div>
            <div class="social_list">
              <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Team Item -->
      <div class="col-lg-3 col-md-6 team_col">
        <div class="team_item">
          <div class="team_image"><img src="../assets/images/aman.jpeg" alt=""></div>
          <div class="team_body">
            <div class="team_title"><a href="#">Aman</a></div>
            <div class="team_subtitle">Programmer  </div>
            <div class="social_list">
              <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Team Item -->
      <div class="col-lg-3 col-md-6 team_col">
        <div class="team_item">
          <div class="team_image"><img src="../assets/images/manoj.jpg" alt=""></div>
          <div class="team_body">
            <div class="team_title"><a href="#">Manoj</a></div>
            <div class="team_subtitle">students</div>
            <div class="social_list">
              <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Team Item -->
      <div class="col-lg-3 col-md-6 team_col">
        <div class="team_item">
          <div class="team_image"><img src="../assets/images/student.jpg" alt=""></div>
          <div class="team_body">
            <div class="team_title"><a href="#">Student</a></div>
            <div class="team_subtitle">Student&amp; </div>
            <div class="social_list">
              <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>









<div class="counter">
  <div class="counter_background" style="background-image:url(../assets/images/counter_background.jpg)"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="counter_content">
          <h2 class="counter_title">Register Now</h2>
          <div class="counter_text"><p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dumy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></div>

          <!-- Milestones -->

          <div class="milestones d-flex flex-md-row flex-column align-items-center justify-content-between">
            
            <!-- Milestone -->
            <div class="milestone">
              <div class="milestone_counter" data-end-value="15">15</div>
              <div class="milestone_text">years</div>
            </div>

            <!-- Milestone -->
            <div class="milestone">
              <div class="milestone_counter" data-end-value="120" data-sign-after="k">120k</div>
              <div class="milestone_text">years</div>
            </div>

            <!-- Milestone -->
            <div class="milestone">
              <div class="milestone_counter" data-end-value="670" data-sign-after="+">670+</div>
              <div class="milestone_text">years</div>
            </div>

            <!-- Milestone -->
            <div class="milestone">
              <div class="milestone_counter" data-end-value="320">320</div>
              <div class="milestone_text">years</div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="counter_form">
      <div class="row fill_height">
        <div class="col fill_height">

          <form name="form" (ngSubmit)="f.form.valid && onSubmitCustomer()" #f="ngForm" novalidate>

              <div class="form-group">
                  <label for="name"><b> Name </b></label>
                  <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required>
                <div *ngIf="f.submitted && name.invalid" class="invalid-text">
                  <div style="color: red" *ngIf="name.errors.required"> Name  is required</div>
                </div>
                </div>

               

                  <div class="form-group">
                      <label for="country"><b>Subject</b></label>
                      <select class="form-control" placeholder="Select country" name="country" [(ngModel)]="model.country" #country="ngModel" [ngClass]="{ 'is-invalid': f.submitted && country.invalid }" required>
                        <option class="form-control" *ngFor="let country of countries" [value]="country.id"> {{country.name}}</option>
                      </select>
                     </div>
                      <div *ngIf="f.submitted && country.invalid" class="invalid-text">
                        <div style="color: red" *ngIf="country.errors.required">Subject is required</div>
                      </div>

                      <div class="form-group">
                          <label for="add Question"><b>Massege Add</b></label>
                        <textarea class="form-control" name="question" rows="4" cols="8" placeholder="Enter Massege"  [(ngModel)]="model.question" #question="ngModel" [ngClass]="{ 'is-invalid': f.submitted && question.invalid }" required> </textarea>            
                        <!-- <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required> -->
                      <div *ngIf="f.submitted && question.invalid" class="invalid-text">
                        <div style="color: red" class="validation" *ngIf="question.errors.required">Massege add is required</div>
                      </div>
                      </div>

                  <button type="submit" class="btn btn-success">Submit</button>
          </form> 














        </div>
      </div>
    </div>

  </div>
</div>


<app-footer></app-footer>