<!-- <p-toast position="top-right"></p-toast> -->
<!-- <app-header></app-header>
     <app-home></app-home> -->
<!-- <app-about></app-about> -->
<!-- <app-courses></app-courses> -->
<!-- <app-contact></app-contact> -->
<!-- <app-login></app-login>
     <app-register></app-register>-->
<!-- <app-home-page></app-home-page>  -->
<!-- <app-questions></app-questions> -->
<!-- <app-category></app-category> -->
<!-- <app-subject></app-subject> -->
<!-- <app-paper></app-paper> -->
<!-- <app-footer></app-footer> -->
<!-- <app-list></app-list> -->
<router-outlet></router-outlet>
